{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<body>
    <div class="header-banner"><h2>MARY KAY <span style="font-weight: 300; font-size: 0.8em;">.jtg</span></h2></div>
    <div class="container">
        <div class="container-edit">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h4>Selecione o produto para editar</h4>
                <a href="/estoque" class="btn-voltar">← Voltar ao Menu</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Cód MK</th>
                        <th>Nome</th>
                        <th>Preço Atual</th>
                        <th class="text-center">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in produtos %}
                    <tr>
                        <td>{{ p.codigo_mk }}</td>
                        <td>{{ p.nome }}</td>
                        <td>R$ {{ "%.2f"|format(p.preco_venda_sugerido) }}</td>
                        <td class="text-center">
                            <a href="{{ url_for('formulario_editar', id=p.id_produto) }}" class="btn-editar text-decoration-none">Editar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>