{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<body>
    <div class="header-banner"><h2>MARY KAY</h2></div>
    <div class="container">
        <div class="form-container">
            <h4 class="mb-4">Alterar Informações</h4>
            <form action="{{ url_for('atualizar_produto', id=produto.id_produto) }}" method="POST">
                <label>Nome do Produto</label>
                <input type="text" name="nome" class="form-control" value="{{ produto.nome }}" required>
                
                <label>Código MK</label>
                <input type="text" name="codigo_mk" class="form-control" value="{{ produto.codigo_mk }}" required>
                
                <label>Preço de Venda (R$)</label>
                <input type="number" step="0.01" name="preco_venda" class="form-control" value="{{ produto.preco_venda_sugerido }}" required>
                
                <label>Quantidade em Estoque</label>
                <input type="number" name="quantidade" class="form-control" value="{{ produto.estoque_minimo }}" required>
                
                <button type="submit" class="btn btn-salvar mt-3">Salvar Alterações</button>
                <div class="text-center mt-3"><a href="/estoque" class="text-muted">Cancelar</a></div>
            </form>
        </div>
    </div>
</body>
</html>