{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<body>
        <div class="pb-5 mt-4">
            <h2 class="text-dark mb-4 fw-bold">Registrar Nova Venda</h2>
                <div class="card-saas">
                    <form method="POST" action="/vendas">
                </div>
        </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Produto</th> <th>Qtd</th>     <th>Cliente</th>
                        <th>Total</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in vendas %}
                    <tr {% if v.status == 'Pendente' %} style="background-color: #fffdf5;" {% endif %}>
                        <td>#{{ v.id_venda }}</td>
                        <td>{{ v.produto.nome }}</td> <td>{{ v.quantidade_vendida }}</td>
                        <td>{{ v.nome_cliente_venda }}</td>
                        <td>R$ {{ "%.2f"|format(v.valor_final) }}</td>
                        <td>
                            {% if v.status == 'Pendente' %}
                                <div class="d-flex align-items-center">
                                    <span class="badge bg-warning text-dark me-2">Pendente</span>
                                    <form action="{{ url_for('pagar_venda', id=v.id_venda) }}" method="POST">
                                        <button type="submit" class="btn btn-sm btn-outline-success" style="font-size: 0.7rem;">Baixar Pagamento</button>
                                    </form>
                                </div>
                            {% else %}
                                <span class="badge bg-success">Pago</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
</body>
{% endblock %}
</html>